* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    max-width: 1440px !important;
    padding: 0 80px !important;
    margin: 0 auto !important;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
body{
    background-color: #181818;
    font-family: "Roboto";
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.button{
    padding: 7px 11px;
    background: #24B47E;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
main{
    min-width: 1280px;
}