.storage{
    position: relative;
    top: 100px;
    &__start{
        position: relative;
        width: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &>h2{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            color: #FFFFFF;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        &>p{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: #E0E0E0;
            margin-bottom: 16px;
        }
        &::after{
            content: "";
            width: 560px;
            height: 430px;
            background: url(../img/storageimg.png) no-repeat;
            background-size: contain;
            z-index: 6;
            position: absolute;
            top: 0;
            left: 120%;
        }
    }
    &__icon{
        display: flex;
        align-items: center;
        gap: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
    &__sign{
        margin-top: 40px;
        margin-left: 40px;
    }
    &__features{
        margin-top: 100px;
        &__cards{
            display: flex;
            justify-content: space-between;
            min-width: 800px;
            max-width: 1200px;
        }
        &__card{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 290px;
        }
        .card{
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
            }
            &__desc1{
                color: #FFFFFF;
                padding: 16px 0;
            }
            &__desc2{
                color: #E0E0E0;
                padding: 16px 0;
            }
        }
        &__svgline{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}